#home {
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;

    #no-container {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        #no {
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 11em;
            color: #212121;
        }
    }

    #source-container {
        margin: 0;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        #source {
            font-family: Helvetica;
            text-transform: lowercase;
            font-weight: 700;
            font-size: 0.5em;
            color: #212121;
            text-decoration-line: none;

            &:not(:hover) {
                opacity: 0.2;
            }
        }
    }
}